<form class="example-form" [formGroup]="formGrup">
<div>
    <td >
        <mat-form-field class="example-full-width" id="n" appearance="fill">
          <mat-label>Özellik</mat-label>
          <input formControlName="ozellik_adi" matInput>
        </mat-form-field>
      </td>
  </div>

  <div class="ab">
    <button style="width: 150px;" (click)="addFeatures()"  mat-raised-button color="primary">Kaydet</button>
    
    <button class="p"
    style="width: 150px"
    mat-raised-button
    color="warn"
    (click)="cancel()">İptal</button>
  </div>
</form>