<table>
    <td>
      <mat-form-field class="example-full-width" id="x" appearance="fill">
      <mat-label>Sezon</mat-label>
      <input matInput>
    </mat-form-field></td>
  
    <td>
      <mat-form-field class="example-full-width" id="x" appearance="fill">
        <mat-label>Özellik</mat-label>
        <input  type="text" matInput>
      </mat-form-field>
    </td>
  
  </table>
 
  
    <table>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Birim</mat-label>
            <input type="text" matInput >
          </mat-form-field>
        </td>
      <td>
        <mat-form-field class="example-full-width" id="x" appearance="fill">
        <mat-label>Adet</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </td>
</table>
<table>
        <!-- <td>
            <mat-form-field class="minik" appearance="fill">
                <mat-label>Beden</mat-label>
                <input type="text" matInput >
              </mat-form-field>
        </td> -->
        <td>
          <mat-form-field class="minik" appearance="fill">
            <mat-label>Beden</mat-label>
            <mat-select>
              <mat-option value="2XS">2XS</mat-option>
              <mat-option value="XS">XS</mat-option>
              <mat-option value="S">S</mat-option>
              <mat-option value="M">M</mat-option>
              <mat-option value="L">L</mat-option>
              <mat-option value="XL">XL</mat-option>
              <mat-option value="2XL">2XL</mat-option>
              <mat-option value="3XL">3XL</mat-option>
              <mat-option value="36">36</mat-option>
              <mat-option value="37">37</mat-option>
              <mat-option value="38">38</mat-option>
              <mat-option value="39">39</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="41">41</mat-option>
              <mat-option value="42">42</mat-option>
              <mat-option value="43">43</mat-option>
              <mat-option value="44">44</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="46">46</mat-option> 
            </mat-select>
          </mat-form-field>
        </td>
        <!-- <td>
             <h4>XS</h4>
            <mat-form-field class="minik" appearance="fill">
                <mat-label>XS</mat-label>
                <input type="text" matInput >
              </mat-form-field>
        </td> -->

    </table>

 
      
  
  <div class="button">
    <button style="width: 150px;" mat-raised-button color="primary" (click)="saveOrder()" >Kaydet</button>
    
    <button
        style="width: 150px"
        mat-raised-button
        color="warn"
        (click)="cancel()"
      >
        İptal
      </button>
    
    </div>