<!-- <form class="example-form" [formGroup]="formGrup">
    <table>
     
  </table>
  <table>
   
  <div>
    
    <td>
      <mat-form-field class="example-full-width" id="n" appearance="fill">
        <mat-label>Kıyafet Adı</mat-label>
        <input formControlName="kiyafet_adi" matInput>
      </mat-form-field>
    </td>
      </div>
  </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        
      <td>
      <mat-form-field class="example-full-width" id="n" appearance="fill">
        <mat-label>Kullanım Süresi</mat-label>
        <input formControlName="kullanim_suresi" matInput>
      </mat-form-field>
    </td>
    <td>
    <mat-form-field  id="y" appearance="fill">
      <mat-label>Kıyafet Türü</mat-label>
      <mat-select formControlName = "kiyafet_turu">
        <mat-option value="1">Elbise</mat-option>
        <mat-option value="0">Ayakkabı</mat-option>
      </mat-select>
    </mat-form-field>
  </td>
    <td>
    </table>
  
     
    <div class="ab">
    <button style="width: 150px;"   mat-raised-button color="primary" >Kaydet</button>
    
    <button class="p"
    style="width: 150px"
    mat-raised-button
    color="warn"
    (click)="cancel()"
  >
    İptal
  </button>
  </div>
  
  </form> -->