.buton{
    display: flex;
    justify-content: flex-end;
}
table{
    width: 100%;
}
.table{
    margin-top: 1rem;
}
.mat-elevation-z8{
    margin-top: 2rem;
}
.bold{
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}
.button{
    display: flex;
    justify-content: flex-end;

}
.sasa{
    display: flex;
    justify-content: flex-start;
}

.a{
    width: 250px;
    padding: 21px 0;
}
.th-center{
    text-align: center;
}

// .txtAlign{
//     text-align: center;
// }

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }
  .birim{
    width: 500px;
    padding: 21px 0;
  }
  .sicil{
    width: 500px;
}

.font{
    font-size: 12px;
}

.iptal{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.aw{
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.dd{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.filter{
    width: 1200px;
    margin-left: 20px;
  }