<mat-nav-list class="a" >
  <a id="s" mat-list-item routerLinkActive="list-item-active" [routerLink]="['/kiyafet']"><span style="font-size:28px;">	
    🧥 </span> KIYAFET </a>
    <a id="s" mat-list-item routerLinkActive="list-item-active" [routerLink]="['/table']"><span style="font-size:28px;color: black;">	
      👷 </span> ÇALIŞAN </a>
    <a id="s" mat-list-item routerLinkActive="list-item-active" [routerLink]="['/order-table']" >
      <span style="font-size:28px;">	
        🛒  </span>  SATIN ALMA
    </a>
    <a id="s" mat-list-item routerLinkActive="list-item-active" [routerLink]="['/suppliers']" >
      <span style="font-size:28px;">	
        📦  </span>  TEDARİKÇİ YÖNETİMİ
    </a>

  </mat-nav-list>