.table{
    margin-top: 1rem;
}
table {
    width: 100%;
  }

.button{
    display: flex;
    justify-content: flex-end;
}
.bold{
  font-size: 15px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}
.filter{
  width: 1200px;
  margin-left: 20px;
}
.aw{
  font-size: x-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

