<form class="example-form" [formGroup]="formGrup">
    
  <td>
    <mat-form-field class="example-full-width" id="x" appearance="fill">
      <mat-label>Kıyafet Adı</mat-label>
      <input  type="text" formControlName="kiyafet_adi" matInput>
    </mat-form-field>
  </td>
  <table>

  
  <td>
    <mat-form-field class="example-full-width" id="x" appearance="fill">
      <mat-label>Kullanım Süresi</mat-label>
      <input  type="text" formControlName="kullanim_suresi" matInput>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field  id="y" appearance="fill">
      <mat-label>Kıyafet Türü</mat-label>
      <mat-select formControlName = "kiyafet_turu">
        <mat-option value="1">Elbise</mat-option>
        <mat-option value="0">Ayakkabı</mat-option>
      </mat-select>
    </mat-form-field>
  </td>

  </table>
  
  
  
  <div class="button ab">
    <button style="width: 150px;" mat-raised-button color="primary" (click)="updateClothes()" (click)="refresh()">Güncelle</button>
      <button (click)="cancel()"
        style="width: 150px"
        mat-raised-button
        color="warn"
      >
        İptal
      </button>
    
    </div>
  </form>