<form class="example-form" [formGroup]="formGrup">
  <table>
   
</table>
<table>
  <td>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>KKD Malzeme Cinsi</mat-label>
    <input formControlName="kkd_malzeme_cinsi" matInput>
  </mat-form-field>
</td>
<div>
  
  <td>
    <mat-form-field class="example-full-width" id="n" appearance="fill">
      <mat-label>KKD Özellik</mat-label>
      <input formControlName="kkd_ozellik" matInput>
    </mat-form-field>
  </td>
    </div>
</table>
  <table class="example-full-width" cellspacing="0">
    <tr>
      
    <td>
    <mat-form-field class="example-full-width" id="n" appearance="fill">
      <mat-label>KKD Dağıtım Dayanağı</mat-label>
      <input formControlName="kkd_dagitim_dayanagi" matInput>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field id="y" appearance="fill">
      <mat-label>Dönem</mat-label>
      <mat-select formControlName="donem">
        <mat-option value="YAZLIK">Yazlık</mat-option>
        <mat-option value="KIŞLIK">Kışlık</mat-option>
      </mat-select>
    </mat-form-field>
  </td>
    </tr>


  </table>

  <table>
  
  <td>
    <mat-form-field class="example-full-width" id="n" appearance="fill">
      <mat-label>Yıl</mat-label>
      <input formControlName="yil" matInput>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="example-full-width" id="n" appearance="fill">
      <mat-label>KKD Kullanım Süresi</mat-label>
      <input formControlName="kkd_kullanim_suresi" matInput>
    </mat-form-field>
    </td>
  
  </table>

  <table>
    
    <td>
      <mat-form-field class="example-full-width" id="y" appearance="fill">
        <mat-label>Verildiği Tarihi</mat-label>
        <input type="date" formControlName="verildigi_tarih" matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" id="n" appearance="fill">
        <mat-label>Alacak Bilgisi</mat-label>
        <input type="date" formControlName="alacak_bilgisi" matInput>
      </mat-form-field>
    </td>
  </table>

  <table>
    <td>
    <mat-form-field class="example-full-width" id="y" appearance="fill">
      <mat-label>Sonraki Yıl</mat-label>
      <input formControlName="sonraki_yil" matInput>
   </mat-form-field>
  </td>
  
  <td>
   <mat-form-field class="example-full-width" id="y" appearance="fill">
    <mat-label>Aldı Bilgisi</mat-label>
    <mat-select formControlName = "aldi_bilgisi">
      <mat-option value="1">Evet</mat-option>
      <mat-option value="0">Hayır</mat-option>
    </mat-select>
  </mat-form-field>
  </td>
  </table>
<table>
  <td>
    <mat-form-field id="n" appearance="fill">
      <mat-label>Durum</mat-label>
      <mat-select formControlName = "durum_belirlenen_sure_icinde_mi_sure_asildi_mi">
        <mat-option value="SÜRE İÇİNDE">Süre İçinde</mat-option>
        <mat-option value="SÜRE AŞIMI">Süre Aşımı</mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field  id="y" appearance="fill">
      <mat-label>Dağıtım Planı</mat-label>
      <mat-select formControlName = "dagitim_planlandi_mi_aktif_verildi">
        <mat-option value="AKTİF">Aktif</mat-option>
        <mat-option value="VERİLDİ">Verildi</mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  

</table>

   
  <div class="ab">
  <button style="width: 150px;" (click)="saveClothe()"  mat-raised-button color="primary">Kaydet</button>
  
  <button class="p"
  style="width: 150px"
  mat-raised-button
  color="warn"
  (click)="cancel()"
>
  İptal
</button>
</div>

</form>