 
     <table>
      <tr>
        <td class="button"> <button style="background-color:rgb(3, 131, 3) ;" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon" (click)="openDialog()" >
          <mat-icon>add</mat-icon>
        </button>  
      </td> 
    </tr>
    <tr>
      <td class="button"> <button style="background-color:rgb(3, 7, 131) ;" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon" (click)="openDialog6()" >
        <mat-icon>library_books</mat-icon>
      </button>  
    </td> 
  </tr>
    <h2 class="aw">KIYAFET YÖNETİMİ</h2>
    <div class="mat-elevation-z8">
      <mat-form-field class="filter" appearance="standard">
        <mat-label>Ara..</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
    </table>

      <div class="mat-elevation-z8">
      <table class="font"  mat-table [dataSource]="dataSource">

        
        <ng-container matColumnDef="kiyafet_adi">
          <th class="sicil th-center bold" mat-header-cell *matHeaderCellDef>Kıyafet Adı</th>
          <td class="font" mat-cell *matCellDef="let element"> {{element.kiyafet_adi}} </td>
        </ng-container>
        <ng-container matColumnDef="kullanim_suresi">
            <th class="sicil th-center bold" mat-header-cell *matHeaderCellDef>Kullanım Süresi</th>
            <td class="font" mat-cell *matCellDef="let element"> {{element.kullanim_suresi}} Yıl </td>
          </ng-container>

        
          <ng-container class=" bold" matColumnDef="Güncelle">
            <th class="a bold" mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> <button style="background-color:rgb(68, 70, 70);" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openDialog2(element)" >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          </ng-container>
        <ng-container class="bold" matColumnDef="Sil">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="deleteClothes(element.kiyafet_no)">
            <mat-icon>delete</mat-icon>
          </button>
          </td>
        </ng-container>
        <!-- <ng-container class="bold" matColumnDef="Ozellik">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><button  style="background-color:rgb(9, 71, 153);" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="openDialog4(element.kiyafet_no,element.kiyafet_adi,element.ozellik)">
            <mat-icon>library_books</mat-icon>
          </button>
          </td>
        </ng-container> -->
      
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[10]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
     
</div>